$style: "header";
.#{$style} {
  background-color: $grey-100;
  padding-top: 16px;
  padding-bottom: 44px;
  background-image: url(../img/pic-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: $grey-100;
  position: relative;
  z-index: 1;
  @include media($screen-desktop) {
    background-image: url(../img/pic.jpg);
    padding-bottom: 50px;
  }
  &__navigation {
    @include flex(space-between, center);
  }
  &__link-home {
    display: block;
  }
  &__logo-wrapper {
    z-index: 1;
  }
  &__logo {
    width: 76px;
    height: 24px;
    @include media($screen-desktop) {
      width: 118px;
      height: 36px;
    }
  }
  &__navigation-menu-wrapper {
    background-color: $grey-80;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80vh;
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
    @include media($screen-desktop) {
      position: relative;
      position: relative;
      height: auto;
      transform: translateY(0);
      background-color: transparent;
    }
    &--active {
      transform: translateY(0);
      transition: all .3s ease-in-out;
    }
  }
  &__navigation-menu-items {
    @include flex(center, center, column);
    margin-top: 15vh;
    @include media($screen-desktop) {
      margin-top: 0px;
      flex-direction: row-reverse;
    }
  }
  &__submit-btn-mob {
    @include flex(center, center);
    width: 250px;
    margin-bottom: 62px;
    @include media($screen-desktop) {
      margin-bottom: 0px;
      display: none;
    }
  }
  &__submit-btn-desktop {
    display: none;
    @include media($screen-desktop) {
      @include flex(center, center);
      width: 200px;
      height: 42px;
      border-radius: 5px;
      &:hover {
        background-color: #ca5944;
      }
    }
  }
  &__navigation-list {
    @include media($screen-desktop) {
      @include flex(center, center);
    }
  }
  &__navigation-item {
    text-align: center;
    margin-bottom: 32px;
    @include media($screen-desktop) {
      margin-bottom: 0px;
      margin-right: 44px;
      &:last-child {
        margin-right: 0px;
      }
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__navigation-link {
    @include text($H240, 400, $white-100);
    font-family: $karla;
    line-height: 1.25;
    text-align: center;
    position: relative;
    transition: all .3s ease-in-out;
    @include media($screen-desktop) {
      font-size: $H80;
      padding: 5px 10px;
    }
    &:hover {
      border-bottom: 1px solid $white-100;
      border-radius: 0.5px;
      @include media($screen-desktop) {
        border: none;
        background-color: $grey-80;
      }
    }
    &--active {
      border-bottom: 1px solid $white-100;
      border-radius: 0.5px;
      @include media($screen-desktop) {
        border: none;
        background-color: $grey-80;
      }
    }
  }
  &__menu-btn {
    position: relative;
    height: 16px;
    width: 26px;
    background: transparent;
    border: none;
    outline: none;
    @include media($screen-desktop) {
      display: none;
    }
    &--active {
      .header__btn-element {
        height: 0;
      }
      .header__btn-element:before {
        transform: rotate(45deg);
      }
      .header__btn-element:after {
        transform: rotate(-45deg);
      }
    }
  }
  &__btn-element {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 24px;
    margin-top: -1px;
    margin-left: -12px;
    background-color: $white-100;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 24px;
      margin-top: -1px;
      margin-left: -12px;
      background-color: $white-100;
      transform: translateY(-5px);
      transition: .3s ease;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 24px;
      margin-top: -1px;
      margin-left: -12px;
      background-color: $white-100;
      transform: translateY(5px);
      transition: .3s ease;
    }
  }
}