* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.main {
  background-color: $white-50;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  @include media($screen-desktop) {
    max-width: 1162px;
  }
}

.primary-btn {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: $red;
  border: none;
  transition: all .3s ease-in-out;

  @include text($H60, 400, $white-100);
  font-family: $karla;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 3px #ce3e22;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.swiper-container {
  padding: 0 16px;
  min-width: 280px;
  max-width: 1920px;
  margin-bottom: 28px;
}

.swiper-button-prev {
  background: url(../img/arrow-prev.png) no-repeat center center;
  top: 35%;
  left: 0;
  &:after {
    content: '';
  }
  @include media($screen-tablet-small) {
    left: 22%;
  }
  @include media($screen-tablet-large) {
    left: 23%;
  }
  @include media($screen-fullhd) {
    left: 33%;
  }
}

.swiper-button-next {
  background: url(../img/arrow-next.png) no-repeat center center;
  top: 35%;
  right: 0;
  &:after {
    content: '';
  }
  @include media($screen-tablet-small) {
    right: 22%;
  }
  @include media($screen-tablet-large) {
    right: 23%;
  }
  @include media($screen-fullhd) {
    right: 33%;
  }
}

.swiper-slide {
  max-width: 730px;
}

.testimonials__rate {
  position: relative;
  margin-bottom: 0px;
  text-align: left;
  bottom: 0;
  width: 50px;
}