* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.main {
  background-color: $white-50;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.primary-btn {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: $red;
  border: none;

  @include text($H60, 400, $white-100);
  font-family: $karla;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px #ce3e22;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
